nav{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px;
background-color: #fff;
position: sticky;
top: 0;
}
nav h1{
font-size: 20px;

}
nav .onglets{
display: flex;
flex-wrap: wrap;
}
nav .onglets p{
font-size: 17px;
margin-right: 10px;
cursor: pointer;
}
nav .onglets input{

    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}